# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Env and secrets (commit .env.example only)
.env
.env.local
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/android

# Ignore CocoaPods dependencies (these are redownloaded via 'pod install')
ios/Pods/

# Ignore compiled build files
ios/build/
ios/Index/

# Ignore Xcode user-specific workspace settings and window states
ios/*.xcodeproj/xcuserdata/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

# Ignore local Expo env files
.xcode.env.local
